html{
    scroll-behavior: unset!important;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Winky Rough';
}

::-webkit-scrollbar{
    display: none;
}

#preloader{
    background: #08ba6d url('../Pictures/golf.gif') no-repeat;
    inset: 0;
    background-position: center;
    background-size: 40%;
    height: 110vh;
    width: 100%;
    position: fixed;
    z-index: 9999;
}

/* Navbar */
.navbar{
    background-color: transparent;
    transition: 300ms ease-in-out;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.navbar-scrolled{
    background-color: #6dada5;
}

.navbar:hover{
    background-color: #6dada5;
    transition-duration: 250ms;
}

.navbar .nav-item .nav-link{
    color: white !important;
}

.nav-item:hover > .nav-link:not(.active) {
    background-color: #0CA58C;
}

.logo-image{
    height: 11vh;
}

.nav-item .nav-link.active {
  text-decoration: underline 5px white !important;
  text-underline-offset: 8px !important;
  color: white !important;
}

/* background video */
.video-bg video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
}

/* form */

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.admission{
    background: linear-gradient(#6dada5,  white);
    height: fit-content;
    width: 55vw;
    border-radius: 30px;
    margin-bottom: 10vh;
}

/* form header */
.admission-header{
    background: linear-gradient(#6dada5 , transparent);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}


/* questions */
.ad{
    padding-top: 2%;
    padding-bottom: 2%;
}

.terms{
    display: inline;
    padding: 1px 5px;
}

.ad input:not(.checkbox){
    background-color: white;
    border: 1px solid rgb(179, 176, 176);
    border-radius: 10px; 
    padding: 5px;
    width: 17vw;
}

.box{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    margin-bottom: 5px;
}

.box > *{
    width: 30vw;
}

.ad textarea{
    border-radius: 10px;
    width: 40vw;
    height: 20vh;
    border: 1px solid rgb(179,176,176);
    transition: 250ms ease-in-out;
}

.ad select{
    padding: 5px;
    border-radius: 10px;
    width: 17vw;
    border: 1px rgb(179, 176, 176) solid;
    transition: 250ms ease-in-out;
}

.ad select:hover{
    border: 1px rgb(108,108,108) solid;
}

.ad select:focus, .ad select:active{
    transform: scale(1.02);
    border: 1px rgb(108, 108, 108) solid;
    outline: 0;
}

@media (max-width: 850px){              /* responsiveness */
    .admission{
        height: fit-content;
        width: 90vw;
    }
    .box{
        display: block;
    }
    .box >*{
        min-width: 70vw;
    }
    .ad input:not(.checkbox){
        width: 200px;
        min-width: 150px;
    }
    .ad select{
        width: 200px;
        min-width: 150px;
    }
    .box textarea{
        width: 250px;
        min-width: 150px;
    }
}

/* validation */

.ad input:not(.checkbox):not(:placeholder-shown):valid{
    outline: 1px #05F140 solid;
}

.ad input:not(.checkbox):not(:placeholder-shown):invalid{
    outline: 1px #f10505 solid;
}

.ad input:not(.checkbox):focus{
    outline: 1px #edf105 solid;
}

.why textarea:not(:placeholder-shown):valid{
    outline: 1px #05F140 solid;
}

.why textarea:not(:placeholder-shown):invalid{
    outline: 1px #f10505 solid;
}

.why textarea:not(:placeholder-shown):focus{
    outline: 1px #edf105 solid;
}

.allergies textarea:valid{
    outline: 1px #05F140 solid;
}

.allergies textarea:focus:valid{
    outline: 1px #edf105 solid;
}

/* interaction */

.ad input:not(.checkbox):hover{
    transition: 250ms ease-in-out;
    border: 1px solid rgb(108, 108, 108);
}

.ad input:not(.checkbox):focus{
    transform: scale(1.02);
    border: rgb(108, 108, 108) 1px solid;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.ad input:not(.checkbox):not(:focus){
    transform: scale(1);
    transition: 250ms ease-in-out;
}

.ad textarea:hover{
    border: 1px rgb(108, 108, 108) solid;
}

.ad textarea:focus{
    transform: scale(1.02);
    border: 1px grey solid;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    outline: 0;
}

.tick{
    padding: 10px;
    padding-right: 0px;
    text-align: center;
}

.ad .submit-button{
    text-align: center;
}

.ad .submit-button .submit{
    width: 50%;
    height: 50px;
    border-radius: 15px;
    background-color: #6dada5;
    color: white;
    border: 0;
    font-size: 1.2rem;
}

.ad .submit-button .submit:hover{
    background: white;
    color: #6dada5;
    border: 1px #6dada5 solid;
}

.spinner-border{
    margin: 0 auto;
    display: none;
    user-select: none;
}

iframe{
    display: none;
}